<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
        xmlns:gap   = "http://phonegap.com/ns/1.0"
        xmlns:android="http://schemas.android.com/apk/res/android" 
        xmlns:cdv="http://cordova.apache.org/ns/1.0"
        id          = "ru.38meridian.www.app"
        versionCode = "10"
        version     = "1.2.0">

    <name>ТЕСТ. Скалодром г. Рыбинск</name>

    <description>
        Экстрим центр "38 меридиан" Первый скалодром в городе Рыбинске.
    </description>

    <author>Tadapp</author>

    <preference name='phonegap-version' value='cli-9.0.0' />

    <plugin name='cordova-plugin-splashscreen' />
    <plugin name='cordova-plugin-inappbrowser' />

    <gap:plugin name='onesignal-cordova-plugin' spec='2.4.5' source='npm' />

    <preference name='android-build-tool' value='gradle' />
    <preference name="android-targetSdkVersion" value="28" />
    <preference name='orientation' value='portrait' />

    <preference name='windows-appx-target' value='8.1-phone' />
    <preference name='WindowsToastCapable' value='true' />

    <preference name="SplashMaintainAspectRatio" value="true" />
    <preference name="SplashScreenSpinnerColor" value="#FF9200" />
    
    <platform name="android">
      <edit-config file="app/src/main/AndroidManifest.xml" mode="merge" target="/manifest/application">
          <application android:usesCleartextTraffic="true" />
      </edit-config>
    </platform>


    <platform name="android">
        <icon src="res/android/icon/c5507e2f9d0873b37fa6455fe60025f3.png" density="ldpi" />
        <icon src="res/android/icon/a61314189590ed20fc93510171d19b64.png" density="mdpi" />
        <icon src="res/android/icon/c57595bf5c55fbecabf68833494830a3.png" density="hdpi" />
        <icon src="res/android/icon/1216763401b9c4ac376161c0149fcae6.png" density="xhdpi" />
        <icon src="res/android/icon/beff7518fd8db28254f4d480af850591.png" density="xxhdpi" />
        <icon src="res/android/icon/15e19d5930a168f8694695372b8f9fbe.png" density="xxxhdpi" />

        <splash src="res/android/screen/3dfd29aa6d1f450fa66794dd8f496fd7.png" density="port-hdpi"/>
        <splash src="res/android/screen/899656a4accfb1e636d327c31f4ecc31.png" density="port-ldpi"/>
        <splash src="res/android/screen/ff0a0a842d12f6815edd8bb66fa5efeb.png" density="port-mdpi"/>
        <splash src="res/android/screen/a1e5b7843dd3089c8eefd82682dbcc29.png" density="port-xhdpi"/>
    </platform>

    <platform name="ios">
        <icon src="res/ios/icon/0c1083947bfc7b494f8bca62ff8d9ea3.png" width="180" height="180" />
        <icon src="res/ios/icon/9e21215be3c78d34c7ad8548f4817e72.png" width="60" height="60" />
        <icon src="res/ios/icon/7be959dbf04c8ffdb8a71456cec14a13.png" width="120" height="120" />
        <icon src="res/ios/icon/38223257fb891fd2d5304bcc98e76dee.png" width="76" height="76" />
        <icon src="res/ios/icon/47e2da6ef96548385f6da330fd355936.png" width="152" height="152" />
        <icon src="res/ios/icon/ef5508afde294bde5f497592050e2093.png" width="57" height="57" />
        <icon src="res/ios/icon/866346a38207d66c039422d3947fd0f4.png" width="114" height="114" />
        <icon src="res/ios/icon/8aa4a9cdd65ceee439c6cc034399e453.png" width="72" height="72" />
        <icon src="res/ios/icon/19675ec13e7648fb6d81305bd04fde53.png" width="144" height="144" />
        <icon src="res/ios/icon/2604b46b704ebe6f1f152639c79a7b7c.png" width="167" height="167" />
        <icon src="res/ios/icon/df6ad0617e38542b0eaba318be96734b.png" width="29" height="29" />
        <icon src="res/ios/icon/1217a94e32a3b2481c4150ae19f6edfa.png" width="58" height="58" />
        <icon src="res/ios/icon/885eb7fd4877dd991de7dcb3cf761e3b.png" width="87" height="87" />
        <icon src="res/ios/icon/72a7ddfde1e238b4e78e3170a7e74d23.png" width="167" height="167" />

        <splash src="res/ios/screen/a7dea41ed9f142a39b12f5abee22735c.png" />
        <splash src="res/ios/screen/0a5fd29c02bd2856d490f4c8b8eb99d5.png" />
        <splash src="res/ios/screen/0c568e95dad4317518a0f65fed3e0c7e.png" />
        <splash src="res/ios/screen/7d8e19b476237329dc480e2c3fbcf10a.png" />
        <splash src="res/ios/screen/da712af576d6a29e198c72c2d72ea2e9.png" />
        <splash src="res/ios/screen/e8e30a637cd1458998df9b318b40558e.png" />
    </platform>

    <platform name="winphone">
        <icon src="res/windows/icon/a906562e60add821598739ecadb9061d.png" target="StoreLogo" />
        <icon src="res/windows/icon/d88fa10985b85e8012b9259669ef31fd.png" target="Square30x30Logo" />
        <icon src="res/windows/icon/4db2af525a14ea4732fc167ce94fb1da.png" target="Square44x44Logo" />
        <icon src="res/windows/icon/10c4411238a7fe8f44d0a9f9ea1a46d6.png" target="Square70x70Logo" />
        <icon src="res/windows/icon/964c30f97724f73d42d843dd6540836f.png" target="Square71x71Logo" />
        <icon src="res/windows/icon/b9526eaacb79b8e4d9897d40402988c3.png" target="Square150x150Logo" />
        <icon src="res/windows/icon/8a876766087ade5101bba92168860fc3.png" target="Square310x310Logo" />

        <splash src="res/windows/screen/00bd3dd665e9bdfdec4acb9c1cd83f68.png" target="SplashScreen"/>
        <splash src="res/windows/screen/027de3547d8f8b6b7d18f7a75621c383.png" target="SplashScreenPhone"/>
    </platform>

    <access origin='*'/>
    <plugin name='cordova-plugin-whitelist' />
    <allow-intent href='http://*/*'/>
    <allow-intent href='https://*/*'/>
    <allow-intent href='tel:*'/>
    <allow-intent href='sms:*'/>
    <allow-intent href='mailto:*'/>
    <allow-intent href='geo:*'/>

</widget>